<mat-sidenav-container fullscreen fxLayout="row">
  <mat-sidenav opened="true" mode="side" fxFlex="40 40">
    <div class="logo">
      <a [routerLink]="['/']"><img src="../../../assets/logo.jpg" alt="Sanatorio San Lucas" width="100%"></a>
    </div>
    <mat-divider ></mat-divider>
    <div class="profile">
      <p class="profile-picture">{{(user |async).nombre.charAt(0)}}{{(user |async).apellido.charAt(0)}}</p>
      <h3>{{(user |async).nombre}} {{(user |async).apellido}}</h3>
      <h4>{{(user |async).rol}}</h4>
    </div>
    <mat-divider></mat-divider>
    <div class="nav-menu">
      <app-nav-menu [role]="(user | async).rol"></app-nav-menu>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlex="60 60">
    <mat-toolbar fxLayout="row" fxFlexAlign="start">
      <h2 fxFlex="20%">{{title}}</h2>
      <button type="button" mat-button color="primary" fxFlex="20%" fxFlexOffset="60%" (click)="logout()">
        <mat-icon>input</mat-icon>Salir
      </button>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
