mat-sidenav-container {
  display: flex;
}

.content {
  padding: 30px;
}

.profile {
  text-align: center;
}

.profile p {
  margin-bottom:0;
}

.profile-picture {
  display: inline-block;
  font-size: 1.75em;
  width: 3em;
  height: 3em;
  line-height: 3em;
  text-align: center;
  border-radius: 50%;
  background: plum;
  vertical-align: middle;
  color: white;
}

.logo {
  width: 280px;
  padding: 20px;
}