<moo-loading #loader>
  <div class="indicaciones-pendientes" *ngIf="indicaciones.length; else noIndicaciones">
    <mat-card class="indicacion">
      <table mat-table [dataSource]="indicaciones">
        <ng-container matColumnDef="paciente">
          <th mat-header-cell *matHeaderCellDef> Paciente </th>
          <td mat-cell *matCellDef="let element"> {{element.paciente.nombre}} {{element.paciente.apellido}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="medico">
          <th mat-header-cell *matHeaderCellDef> Medico </th>
          <td mat-cell *matCellDef="let element"> {{element.medico.nombre}} {{element.medico.apellido}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="fechaCreacion">
          <th mat-header-cell *matHeaderCellDef> Fecha indicación </th>
          <td mat-cell *matCellDef="let element"> {{element.fechaCreacion | date}}</td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="farmaceutico">
          <th mat-header-cell *matHeaderCellDef> Farmaceutico </th>
          <td mat-cell *matCellDef="let element"> {{element.farmaceutico?.nombre}} {{element.farmaceutico?.apellido}} </td>
        </ng-container>
        <ng-container matColumnDef="fechaValidacion">
          <th mat-header-cell *matHeaderCellDef> Fecha validación </th>
          <td mat-cell *matCellDef="let element"> {{element.fechaValidacion | date}}</td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button type="button" mat-button color="primary" [routerLink]="['/medico', 'indicaciones', element.codigoIndicacion, 'modificar']">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card>
  </div>
  <ng-template #noIndicaciones>
      <h2>No se encontraron indicaciones rechazadas</h2>
    </ng-template>
</moo-loading>
