<moo-loading #loader>
  <form (ngSubmit)="generarIndicacion()" fxLayoutAlign="center stretch" fxLayout="column" fxLayoutGap="5%" [formGroup]="generarIndicacionForm">
    <div class="generar-indicacion-fields-container" fxLayoutAlign="center" fxLayout="column">
      <mat-form-field>
        <mat-select placeholder="Paciente" formControlName="paciente">
          <mat-option *ngFor="let paciente of pacientes" [value]="paciente.dni">
            {{ paciente.nombre }} {{ paciente.apellido }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Diagnostico" formControlName="diagnostico" rows="4"></textarea>
      </mat-form-field>
      <mat-form-field *ngIf="generarIndicacionForm.get('observaciones')">
        <textarea matInput placeholder="Observaciones" formControlName="observaciones" rows="4"></textarea>
      </mat-form-field>
    </div>
    <!-- Medicamento -->
    <div class="medicamentos">
      <form (ngSubmit)="agregarMedicamento(medicamentosForm)" fxLayoutAlign="center stretch" fxLayout="column" [formGroup]="medicamentosForm">
        <div class="medicamentos-fields-container" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="5%">
          <mat-form-field>
            <!-- <input matInput placeholder="Medicamento" aria-label="Medicamento" [matAutocomplete]="auto" formControlName="medicamento"> -->
            <mat-select formControlName="medicamento" [compareWith]="byId">
              <mat-option *ngFor="let medicamento of medicamentos" [value]="medicamento">
                {{medicamento.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input type="number" matInput placeholder="Cantidad" formControlName="cantidad">
          </mat-form-field>
          <mat-form-field>
            <input type="number" matInput placeholder="Frecuencia" formControlName="frecuencia">
          </mat-form-field>
          <mat-form-field>
            <mat-select formControlName="unidad" placeholder="Unidad de tiempo">
              <mat-option *ngFor="let hora of unidadesTiempo" [value]="hora.id">
                {{ hora.text }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button type="submit" *ngIf="!isEditing; else editActions" mat-raised-button color="primary">Agregar</button>
          <ng-template #editActions>
            <button type="button" (click)="guardarEditarMedicamento()" mat-raised-button color="primary">Guardar cambios</button>
            <button type="button" (click)="cancelarEditarMedicamento()" mat-raised-button color="primary">Cancelar</button>
          </ng-template>
        </div>
      </form>
      <div class="medicamentos-table">
        <table mat-table [dataSource]="medicamentosIndicados">

          <!-- medicamento Column -->
          <ng-container matColumnDef="medicamento">
            <th mat-header-cell *matHeaderCellDef> Medicamento </th>
            <td mat-cell *matCellDef="let element"> {{element.medicamento.nombre}} </td>
          </ng-container>

          <!-- cantidad Column -->
          <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
          </ng-container>

          <!-- frecuencia Column -->
          <ng-container matColumnDef="frecuencia">
            <th mat-header-cell *matHeaderCellDef> Frecuencia </th>
            <td mat-cell *matCellDef="let element"> {{element.frecuencia}} </td>
          </ng-container>

          <!-- unidad Column -->
          <ng-container matColumnDef="unidad">
            <th mat-header-cell *matHeaderCellDef> Unidad </th>
            <td mat-cell *matCellDef="let element"> {{element.unidad}} </td>
          </ng-container>
          
          <!-- unidad Column -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element; let rowIndex = index">
              <button type="button" mat-button color="primary" (click)="eliminarMedicamento(rowIndex)">
                <mat-icon>delete</mat-icon>
              </button>
              <button type="button" mat-button color="primary" (click)="editarMedicamento(rowIndex)">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns; let rowIndex = index"></tr>
        </table>
      </div>
    </div>
    <div class="actions" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="5%">
      <button type="submit" mat-raised-button color="primary">Indicar medicamentos</button>
      <button type="button" (click)="cancelar()" mat-button color="warn">Cancelar</button>
    </div>
  </form>
</moo-loading>
